# If adding a new value, ensure the key vault is updated and tagged with "e2e": "ENV_VAR_NAME"

# Automation users
TEST_USERNAME=
TEST_PASSWORD=

# URLs
TRG_BASE_URL=
SIT_BASE_URL=

# HMI
HMI_CLIENT_ID=
HMI_CLIENT_SECRET=
HMI_SCOPE=
HMI_TOKEN_URL=
HMI_TOKEN_TENANT=
HMI_GRANT_TYPE=
HMI_TRG_API_URL=
HMI_SIT_API_URL=

# Test Users
# when using a test user, use a comment to describe what action user is used for, e.g. JOH Filter Testing

# JOH Filtering
USER_CHRISTOPHER_HALL=
PASSWORD_CHRISTOPHER_HALL=

# JOH Users
USER_AUTO_ELENA_ROSSI=
PASSWORD_AUTO_ELENA_ROSSI=
USER_AUTO_DMITRI_VOLKOV=
PASSWORD_AUTO_DMITRI_VOLKOV=
USER_AUTO_SOPHIE_DUBOIS=
PASSWORD_AUTO_SOPHIE_DUBOIS=
USER_AUTO_AHMED_ALRASHID=
PASSWORD_AUTO_AHMED_ALRASHID=
USER_AUTO_YUKI_TANAKA=
PASSWORD_AUTO_YUKI_TANAKA=
USER_CHRISTOPHER_BENNETT=
PASSWORD_CHRISTOPHER_BENNETT=

USER_JENNIFER_HARRISON=
PASSWORD_JENNIFER_HARRISON=
USER_ROBERT_SULLIVAN=
PASSWORD_ROBERT_SULLIVAN=
USER_AMANDA_FOSTER=
PASSWORD_AMANDA_FOSTER=
USER_STEPHEN_BRADLEY=
PASSWORD_STEPHEN_BRADLEY=


# Add new case
USER_OLIVIA_CLARK=
PASSWORD_OLIVIA_CLARK=

# hearing channel
USER_PATRICK_LEWIS=
PASSWORD_PATRICK_LEWIS=

# add participant
USER_ISABELLA_WALKER=
PASSWORD_ISABELLA_WALKER=

# amend request after listing
USER_KEVIN_YOUNG=
PASSWORD_KEVIN_YOUNG=

# daily cause reports
USER_AMELIA_KING=
PASSWORD_AMELIA_KING=

# Case listing and reporting
USER_RYAN_WRIGHT=
PASSWORD_RYAN_WRIGHT=

# HMI Request
USER_SOPHIA_LOPEZ=
PASSWORD_SOPHIA_LOPEZ=

# Create a user - sysadmin user
USER_JASON_MARTIN=
PASSWORD_JASON_MARTIN=

USER_MIA_RODRIGUEZ=
PASSWORD_MIA_RODRIGUEZ=
